.navbar{
    background-color: black;
}
 
.logotipo{
    width: 150px;
    height: 150px;
    margin-right: 3px;
}
.nav-link{
    color: chartreuse;
    align-items: right;
}

img{
    height: 500px;
    width: 150px;

}

.principal{
    width: 300px;
    height: 300px;
}